{% extends "layouts/base.html" %}
{% load static %}

{% block meta %}
{% include 'partials/meta.html' %}
{% endblock %}

{% block header %}
<link rel="canonical" content="https://www.theartgallerydesign.com/about" />
<meta name="keywords" content="{{ keywords }}" />
{% endblock %}

{% block menu %}
{% include 'partials/about_header.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md4 col-sm-4 col-xs-12">
            <img src="{% static '/assets/images/portrait.jpg' %}" alt="Self portrait. I don't know what I am, I just go about it." />
            <span class="caption text-muted"></span>
        </div>
        <div class="col-md8 col-sm-8 col-xs-12 nicelinks">
            <h3>Iskra Ravelo García</h3>
            <p>
                Iskra Ravelo is a visual artist, illustrator, and designer whose work fuses irony, color, and narrative. With a background in Fine Arts and a Master's degree in Digital Marketing, she creates pieces that challenge perception while embracing vibrant palettes and playful contrasts. Her main series, Bestiary and Fairy Tale, reimagine mythical creatures and haunting imagery using modern techniques, pastel tones, and glitter, transforming discomfort into beauty.
            </p>
            <p>
                In addition to her artistic practice, she works with illustration, design, and digital media, sharing her creative vision through original paintings and high-quality art prints. Color, emotion, and narrative are at the heart of her work, transforming each piece not just an image, but an experience.
            </p>
            
            <p><br></p>
            
            <!-- Social Icons -->
            <div class="social-icons">
                <h3>Find me on:</h3>
                <a href="https://www.facebook.com/iskra.ravelo.garcia" class="btn facebook" title="Facebook" target="_blank">
                    <i class="fa fa-facebook-official fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/artiskra_/" class="btn instagram" title="Instagram" target="_blank">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/iskra-ravelo-garcia-92592a228/" class="btn linkedin" title="Linkedin" target="_blank">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
            </div>
            <!-- /Social Icons -->
            
            <p><br></p>

            <h3>Exhibitions (Selection):</h3>
            <p>
                <ul>
                    <li>2025 - "Collab", 621 Art Gallery, Tallahassee, FL</li>
                    <li>2023 - "Coincidence", Color Sence Gallery, Miami, FL</li>
                    <li>2022 - "September", La Zona Gallery, Madrid, Spain</li>
                    <li>2019 - "In Four Times", Collateral Havana Biennial, Havana</li>
                    <li>2016 - "Leap of Faith", Casa 8 Gallery, Havana</li>
                    <li>2016 - "Tableros de Ajedrez", Habana Libre Hotel Gallery, Havana</li>
                    <li>2015 - "Ecos Callejeros", Collateral 12th Havana Biennial, Open Estudio Gallery, Havana</li>
                    <li>2012 - "The True History of Cuba", Collateral 11th Havana Biennial, UNAICC, Havana</li>
                    <li>2009 - "Hologram (Project H)", Gallery L, Havana</li>
                    <li>2009 - "Luz a tu química", Fototeca de Cuba Gallery, Havana</li>
                    <li>2007 - "Sequence of One", Casa Humboldt Museum, Havana</li>
                    <li>2006 - "Made in San Alejandro", San Alejandro Academy, Havana</li>
                </ul>
            </p>
 
            <p><br></p>

            <h3>Articles and press (Selection):</h3>

            <p>
                <a href="https://www.elnuevoherald.com/vivir-mejor/artes-letras/article277628693.html" target="_blank">https://www.elnuevoherald.com/vivir-mejor/artes-letras/article277628693.html</a>
            </p>
            <p>
                <a href="https://www.cubanet.org/cultura/cinco-artistas-cubanos-se-reunen-en-miami-para-exponer-su-arte/" target="_blank">https://www.cubanet.org/cultura/cinco-artistas-cubanos-se-reunen-en-miami-para-exponer-su-arte/</a>
            </p>
            <p>
                <a href="https://www.scribd.com/doc/274342365/la-verdadera-historia-de-cuba" target="_blank">https://www.scribd.com/doc/274342365/la-verdadera-historia-de-cuba</a>
            </p>
            <p>
                <a href="https://www.caribbeannewsdigital.com/es/noticia/pintores-cubanos-comparten-su-arte-para-estimular-practica-del-ajedrez-en-cuba" target="_blank">https://www.caribbeannewsdigital.com/es/noticia/pintores-cubanos-comparten-su-arte-para-estimular-practica-del-ajedrez-en-cuba</a>
            </p>
            <p>
                <a href="https://www.arteporexcelencias.com/es/galeria/el-arte-tambien-te-salva" target="_blank">https://www.arteporexcelencias.com/es/galeria/el-arte-tambien-te-salva</a>
            </p>
            <p>
                <a href="https://www.arteporexcelencias.com/es/noticias/2015-06-19/proyecto-expositivo-ecos-callejeros-entre-los-colaterales-la-bienal.html" target="_blank">https://www.arteporexcelencias.com/es/noticias/2015-06-19/proyecto-expositivo-ecos-callejeros-entre-los-colaterales-la-bienal.html</a>
            </p>
            <p>
                <a href="https://www.arteporexcelencias.com/es/eventos-bienal-de-la-habana/cuatro-estaciones-para-la-bienal" target="_blank">https://www.arteporexcelencias.com/es/eventos-bienal-de-la-habana/cuatro-estaciones-para-la-bienal</a>
            </p>
            <p>
                <a href="https://www.artcronica.com/ac-noticias/coincidence-cuban-art-miami/" target="_blank">https://www.artcronica.com/ac-noticias/coincidence-cuban-art-miami/</a>
            </p>
            <p>
                <a href="https://allevents.in/miami/coincidence-art-exhibition-tickets/80002392515730?ref=past-event-page" target="_blank">https://allevents.in/miami/coincidence-art-exhibition-tickets/80002392515730?ref=past-event-page</a>
            </p>
            <p>
                <a href="https://www.cndenglish.com/noticia/cuban-painters-share-their-art-foster-chess-practice-cuba" target="_blank">https://www.cndenglish.com/noticia/cuban-painters-share-their-art-foster-chess-practice-cuba</a>
            </p>
            <p>
                <br>
            </p>

        </div>
    </div>

    <!-- Back to top button -->
    <a href="#" class="back-top btn"><i class="fa fa-angle-up fa-2x"></i></a>
    <!-- /Back to top button -->

</div>
{% endblock %}
