{% extends "layouts/base.html" %}
{% load static %}

{% block meta %}
{% include 'partials/meta.html' %}
{% endblock %}

{% block header %}
<link rel="canonical" content="https://www.theartgallerydesign.com/contact" />
<meta name="keywords" content="{{ keywords }}" />
{% endblock %}

{% block menu %}
{% include 'partials/contact_header.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <!-- Contact us form -->
        <div class="col-sm-12">
            <div class="col-sm-12">
                    {% if error %}
                        <h3>Error!</h3>
                        <p>There was an error sending the email. Please, try again.</p>
                    {% else %}
                        {% if sent %}
                            <h3>Email received</h3>
                            <p>Thank you so much for your email. I will respond to you momentarily.</p>
                        {% else %}
                            <h3>Send me a message</h3>
                            <p>Are you interested in my works? Want to hire me? </p>
                        {% endif %}
                    {% endif %}
            </div>
            <form id="validForm" class="contact_form" action="/contact" method="POST">
                {% csrf_token %}
                <div class="form-group control-group col-sm-6">
                    <span><i class="fa fa-user"></i></span>
                    <input class="form-control" type="text" name="name" minlength="2" placeholder="Name *" value="{% if name %}{{name}}{% endif %}" >     
                </div>
                <div class="form-group control-group col-sm-6">
                    <span><i class="fa fa-envelope-o"></i></span>
                    <input class="form-control" type="email" name="email" placeholder="Email Address *" value="{% if email %}{{email}}{% endif %}">
                </div>
                <div class="form-group control-group col-sm-12">
                    <span><i class="fa fa-pencil"></i></span>
                    <textarea class="form-control" type="text" name="message" placeholder="Message *">{% if message %}{{message}}{% endif %}</textarea>
                </div>
                <div class="form-group control-group col-sm-12">
                    <input type="hidden" name="nothing" />
                    <div class="cf-turnstile" data-sitekey="0x4AAAAAAB4acPG05U2F5lbB"></div>
                </div>
                <div class="form-button col-xs-12">
                    <button type="submit" name="enter" class="btn center-block" id="submitContact">
                        Send  <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- /Contact us form -->
    </div>

    <!-- Back to top button -->
    <a href="#" class="back-top btn"><i class="fa fa-angle-up fa-2x"></i></a>
    <!-- /Back to top button -->

</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/assets/js/jquery.validate.min.js' %}"></script>

<!-- Cloudflare -->
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

{% endblock %}