{% extends "layouts/base.html" %}
{% load static %}

{% block meta %}
{% include 'partials/meta.html' %}
{% endblock %}

{% block header %}
<link rel="canonical" content="https://www.theartgallerydesign.com/" />
<meta name="keywords" content="{{ keywords }}" />
{% endblock %}

{% block menu %}
{% include 'partials/home_menu.html' %}
{% endblock %}

{% block content %}
<section class="content fullpage transition">
    <!-- Section One -->
    <section class="section" id="section1">
        <div class="darker"></div>
        <div class="border">
            <div class="frames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="corners">
                <div></div>
                <div></div>
            </div>
            </div>
            <div class="cover-titles">
                <div class="align-left">	
                    <!-- <p></p> -->
                    <h1 class="title">Recent</h1>
                    <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p> -->
                    <a href="/recent" class="btn">
                        <span>Take a Look</span>
                        <i class="fa fa-arrow-right"></i>
                    </a>									
                </div>
            </div>
    </section>
    <!-- /Section One -->

    <!-- Section Two -->			
    <section class="section" id="section2">
        <div class="darker"></div>
        <div class="border">
            <div class="frames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="corners">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="cover-titles">
            <div class="align-left">
                <!-- <p></p> -->
                <h1 class="title">Painting</h1>
                <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p> -->
                <a href="/painting" class="btn">
                    <span>Take a Look</span>
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- /Section Two -->

    <!-- Section Three -->
    <section class="section" id="section3">
        <div class="darker"></div>
        <div class="border">
            <div class="frames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="corners">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="cover-titles">
          <div class="align-left">
              <!-- <p></p> -->
              <h1 class="title">Illustration</h1>
              <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p> -->
              <a href="/illustration" class="btn">
                  <span>Take a Look</span>
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
        </div>
    </section>
    <!-- /Section Three -->

    <!-- Section Four -->
    <section class="section" id="section4">
        <div class="darker"></div>
        <div class="border">
            <div class="frames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="corners">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="cover-titles">
          <div class="align-left">
              <!-- <p></p> -->
              <h1 class="title">Design</h1>
              <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p> -->
              <a href="/design" class="btn">
                  <span>Take a Look</span>
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
        </div>
    </section>
    <!-- /Section Four -->

    <!-- Section Five -->
    <section class="section" id="section5">
        <div class="darker"></div>
        <div class="border">
            <div class="frames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="corners">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="cover-titles">
          <div class="align-left">
              <!-- <p></p> -->
              <h1 class="title">Photography</h1>
              <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p> -->
              <a href="/photography" class="btn">
                  <span>Take a Look</span>
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
        </div>
    </section>
    <!-- /Section Five -->

    <!-- Section Six -->
    <section class="section" id="section6">
        <div class="darker"></div>
        <div class="border">
            <div class="frames">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="corners">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="cover-titles">
          <div class="align-left">
              <!-- <p></p> -->
              <h1 class="title">Installation</h1>
              <!-- <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p> -->
              <a href="/installation" class="btn">
                  <span>Take a Look</span>
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
        </div>
    </section>
    <!-- /Section Six -->
</section>

{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
