{% load static %}

<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static '/assets/images/favicon.png' %}">

<!-- Page Title -->
<title>Iskra Ravelo - Contemporary Art and Illustration</title>

<!-- Meta -->
<meta name="keywords" content="" />
<meta name="description" content="Contemporary art and illustration with a unique style where color and technique create visual impact; original works that fuse tradition and modernity, conveying authenticity, emotion, and innovation." />
<meta name="author" content="Iskra Ravelo" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Iskra Ravelo" />
<meta property="og:url" content="https://www.theartgallerydesign.com" />
<meta property="og:image" content="https://www.theartgallerydesign.com/assets/images/portrait.jpg" />
<meta property="og:description" content="Contemporary art and illustration with a unique style where color and technique create visual impact; original works that fuse tradition and modernity, conveying authenticity, emotion, and innovation." />
<meta property="og:site_name" content="TheArtGalleryDesign" />
<meta property="article:author" content="https://www.facebook.com/" />
<meta property="article:publisher" content="https://www.facebook.com/" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://www.theartgallerydesign.com" />
<!-- <meta name="twitter:site" content="@" /> -->
<meta name="twitter:title" content="Iskra Ravelo" />
<meta name="twitter:description" content="Contemporary art and illustration with a unique style where color and technique create visual impact; original works that fuse tradition and modernity, conveying authenticity, emotion, and innovation." />
<meta name="twitter:image" content="https://www.theartgallerydesign.com/assets/images/portrait.jpg" />
<!-- <meta name="twitter:creator" content="@"> -->

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://www.theartgallerydesign.es/{% static '/assets/images/portrait.jpg' %}">

<meta itemprop="name" content="Iskra Ravelo" />
<meta itemprop="description" content="Contemporary art and illustration with a unique style where color and technique create visual impact; original works that fuse tradition and modernity, conveying authenticity, emotion, and innovation." />
<meta itemprop="image" content="https://www.theartgallerydesign.com/assets/images/portrait.jpg" />